/**
 * ページ共通のレイアウト設定
 */
$width: 320px;

html {
	position: relative;
	height: 100%;
	overflow-x:hidden;
	&.scroll-off {
		overflow: hidden;
		height: 100%;
	}
}

body {
	width: 100%;
	background: $color-black;
	color: $color-white;
	font-size: 11px;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

/** アプリのラッパー領域 */
#app-container {
	position: relative;
	width: $width;
	height: 100%;
	margin: 0 auto;
}

/** コンテンツのスクロール領域 */
#wrapper {
	width: 100%;
	overflow-x:hidden;
}

/** ヘッダーの位置と表示領域 */
header {
	width: 100%;
	position: relative;
	z-index: 1000;
}

/** メインコンテンツの位置と表示領域 */
#contents {
	width: 100%;
	position: relative;
}

/** スクロールの位置と表示領域 */
#scroller {
	width: 100%;
	padding-bottom: 53px;
}

/** フッターの位置と表示領域 */
footer {
	width: 100%;
	position: fixed;
	bottom: -2px;
	z-index: 10000;
}
