// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-white: #ffffff;
$color-black: #4b4b60;
$color-red: #ff6666;
$color-em: #ffff66;
$color-bright-gray: #cccccc;
$color-btntext-blue: #358fe5;
