@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";
/**
 * 画像指定
 *
 * $file-path    表示したい画像ファイルパス
 * $repeat       繰り返し(no-repeat: 繰り返しなし repeat-x: 横方向に繰り返し repeat-y: 縦方向に繰り返し)
 */
/**
 * 単発画像用のmixin
 *
 * $file-path    表示したい画像ファイルパス
 * $width        表示幅の指定(true:書き出す false:書き出さない)
 * $height       表示高さの指定(true:書き出す false:書き出さない)
 * $repeat       繰り返し(no-repeat: 繰り返しなし repeat-x: 横方向に繰り返し repeat-y: 縦方向に繰り返し)
 */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/* 要素のフォントサイズやマージン・パディングをリセットしています */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

/* 行の高さをフォントサイズと同じにしています */
body {
  line-height: 1;
}

/* 新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ul, dl, olのマーカー（行頭記号）を表示しないようにしています */
ul, dl, ol {
  list-style: none;
}

/* 引用符の表示が出ないようにしています */
blockquote, q {
  quotes: none;
}

/* blockquote要素、q要素の前後にコンテンツを追加しないように指定しています */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* a要素のフォントサイズなどをリセットしフォントの縦方向の揃え位置を親要素のベースラインに揃えるようにしています */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* ins要素のデフォルトをセットし、色を変える場合はここで変更できるようにしています */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* mark要素のデフォルトをセットし、色やフォントスタイルを変える場合はここで変更できるようにしています
また、mark要素とは、文書内の検索結果で該当するフレーズをハイライトして、目立たせる際に使用するようです。 */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* テキストに打ち消し線が付くようにしています */
del {
  text-decoration: line-through;
}

/* IEではデフォルトで点線を下線表示する設定ではないので、下線がつくようにしています
また、マウスオーバー時にヘルプカーソルの表示が出るようにしています */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* 隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 水平罫線のデフォルトである立体的な罫線を見えなくしています */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* 縦方向の揃え位置を中央揃えに指定しています */
input, select {
  vertical-align: middle;
}

/* 画像を伸縮されるようにしています */
img {
  max-width: 100%;
  height: auto;
}

/**
 * ページ共通のレイアウト設定
 */
html {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}
html.scroll-off {
  overflow: hidden;
  height: 100%;
}

body {
  width: 100%;
  background: #4b4b60;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/** アプリのラッパー領域 */
#app-container {
  position: relative;
  width: 320px;
  height: 100%;
  margin: 0 auto;
}

/** コンテンツのスクロール領域 */
#wrapper {
  width: 100%;
  overflow-x: hidden;
}

/** ヘッダーの位置と表示領域 */
header {
  width: 100%;
  position: relative;
  z-index: 1000;
}

/** メインコンテンツの位置と表示領域 */
#contents {
  width: 100%;
  position: relative;
}

/** スクロールの位置と表示領域 */
#scroller {
  width: 100%;
  padding-bottom: 53px;
}

/** フッターの位置と表示領域 */
footer {
  width: 100%;
  position: fixed;
  bottom: -2px;
  z-index: 10000;
}

.btn-hex {
  width: 130;
  height: 40;
  background-image: url("../images/ui/common/button/blue/btn_hexa_w260_h80.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 130px 40px;
  width: 130px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding-top: 9px;
  font-size: 12px;
}
.btn-hex.disable {
  width: 130;
  height: 40;
  background-image: url("../images/ui/common/button/off/btn_hexa_w260_h80.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 130px 40px;
  width: 130px;
  height: 40px;
  color: #cccccc;
}

.btn-m {
  width: 90;
  height: 30;
  background-image: url("../images/ui/common/button/blue/btn_w180_h60.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 90px 30px;
  width: 90px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding-top: 5px;
  font-size: 11px;
}
.btn-m.disable {
  width: 90;
  height: 30;
  background-image: url("../images/ui/common/button/off/btn_w180_h60.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 90px 30px;
  width: 90px;
  height: 30px;
  color: #cccccc;
}

.btn-l {
  width: 140;
  height: 40;
  background-image: url("../images/ui/common/button/blue/btn_w280_h80.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 140px 40px;
  width: 140px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding-top: 9px;
  font-size: 14px;
}
.btn-l.disable {
  width: 140;
  height: 40;
  background-image: url("../images/ui/common/button/off/btn_w280_h80.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 140px 40px;
  width: 140px;
  height: 40px;
  color: #cccccc;
}

.btn-white-hex {
  width: 130;
  height: 40;
  background-image: url("../images/ui/common/button/white/btn_white_hexa_w260_h80.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 130px 40px;
  width: 130px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: #358fe5;
  display: inline-block;
  padding-top: 9px;
  font-size: 12px;
}
.btn-white-hex.disable {
  width: 130;
  height: 40;
  background-image: url("../images/ui/common/button/off/btn_white_hexa_w260_h80.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 130px 40px;
  width: 130px;
  height: 40px;
  color: #cccccc;
}

.btn-white-m {
  width: 90;
  height: 30;
  background-image: url("../images/ui/common/button/white/btn_white_w180_h60.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 90px 30px;
  width: 90px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: #358fe5;
  display: inline-block;
  padding-top: 5px;
  font-size: 11px;
}
.btn-white-m.disable {
  width: 90;
  height: 30;
  background-image: url("../images/ui/common/button/off/btn_white_w180_h60.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 90px 30px;
  width: 90px;
  height: 30px;
  color: #cccccc;
}

.btn-white-l {
  width: 140;
  height: 40;
  background-image: url("../images/ui/common/button/white/btn_white_w280_h80.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 140px 40px;
  width: 140px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: #358fe5;
  display: inline-block;
  padding-top: 9px;
  font-size: 14px;
}
.btn-white-l.disable {
  width: 140;
  height: 40;
  background-image: url("../images/ui/common/button/off/btn_white_w280_h80.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 140px 40px;
  width: 140px;
  height: 40px;
  color: #cccccc;
}

.on-active {
  transform: scale(0.95, 0.95) translateY(1px);
}